Hello <%= @user_name%>:<br/>
<p>Thank you for completing the account activation with CampZero.com. If you already posted an ad, it will appear to CampZero visitors now. This activated account also lets you to post new ads, make modifications to them and rank other service providers in CampZero.com.</p>