Hello <%= @user_name%>:<br />
<p>Welcome to CampZero.com service providers network of Bangladesh. To activate your account please click on the following link:
<%= @activation_url %></p>
<p>However, if you have any problem with this, please copy and paste the URL to your browser.</p>
<p>If, by any chance, you received this email but don't actually intent to signup at CampZero.com, please disregard this email.</p>


