Hello <%= @user_name%> <br />
Please click the following link to reset your CampZero.com password.<br />
<%= @password_reset_url %>
<p>However, if you do not intent to reset your password, you may disregard this email and keep using your old CampZero.com password.</p>