<p>
  <b>Name:</b>
  <%=h @service_category.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @service_category.parent.name if @service_category.parent.present? %>
</p>


<%= link_to 'Edit', edit_service_category_path(@service_category) %> |
<%= link_to 'Back', service_categories_path %>