body {
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, Verdana;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
}

a img {
    border: none;
}

a {
    color: #0000FF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#header
{
    background-color: #dfb946;
    padding-top: 1em;
    padding-bottom: 1em; 
    margin: 0;
    border-bottom: 3px solid #222222;
}

#header #menu
{
    width: 75%;
    margin:0 auto;
    color: #444444;
    font-family: Georgia, Arial, Verdana;
    font-size: 1.5em;
}

#header #menu .title
{
    font-size: 2em;
}

#header a, #header a:visited
{
    text-decoration: none;
    color: #222222;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    /*border: solid 1px black;*/
    margin-top: 20px;
}

#container #categories
{
    width: 100%;
    background-color: #222222;
    color: #DFB946;
    padding: 1em;
    font-size: 1.3em;
    margin-bottom: 1.5em;
    font-family: Georgia, Helvetica, Arial, Verdana;
}

#container #categories li
{
    font-size: 1.5em;
    padding-bottom: 3px;
}

#container #categories a, #container #categories a:visited
{
    text-decoration: none;
    color: #DFB946;
}
#container #categories a:hover
{
    border-bottom: 2px solid #DFB946;
}


#container #categories h1
{
    color: #FFFFFF;
    font-size: 1.8em;
    font-family: Helvetica, Arial, Verdana;
}


#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
}

#errorExplanation ul {
    margin: 2px 24px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}

.category
{
    float: left;
    margin-left: 3px;
}

#newsbar
{
    width: 100%;
    font-size: 1.4em;
    text-align: center;
}
#newsbar h1
{
    color: #333;
    font-size: 1.5em;
    border-bottom: 1px solid #FFFFFF;
}
#newsbar a, #newsbar a:visited
{
    text-decoration: none;
    color: #5CAAE1;
    border-bottom: 1px solid #5CAAE1;
}

a
{
    color: #5CAAE1;
}

#newsbar #provider
{
    width: 100%;
    background-color: #FFFFFF;
    color: #222222;
    padding: 1em;
    float: left;
    text-align: left;
    font-family: Georgia, Helvetica, Verdana, Arial;
}

#newsbar #news
{
    width: 45%;
    float: right;
    background-color: #FFFFFF;
    color: #222222;
    padding: 1em;
}

.lefthalf
{
    width: 45%;
    float: left;
}

.righthalf
{
    width: 45%;
    float: right;
}

.lefthalf legend, .righthalf legend
{
    font-weight: bold;
    font-size: 1.2em;
}

#menu .menu-item
{
    border: 2px solid #DFB946;
    float: right;
    padding: 0.5em;
    background-color: #222222;
}

#menu .menu-item a, #menu .menu-item a:visited
{
    color: #DFB946;
}

#menu .menu-item a:hover
{
    border-bottom: 2px solid #DFB946;
}