<% title 'Welcome' %>
<div class="lefthalf">
  <fieldset>
    <legend>First time user? Create New Profile</legend>
    <%= render :partial => 'form' %>
  </fieldset>
</div>
<div class="righthalf">
  <fieldset>
    <legend>Login</legend>
    <%= render :partial => 'user_sessions/new' %>
  </fieldset>
</div>
<div class="clear"></div>


