<% title "Edit Service Provider Category" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @service_provider_category %> |
  <%= link_to "View All", service_provider_categories_path %>
</p>
