<p style="padding: 0.3em;">
<a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share this page on Facebook</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</p>