<div id="search_box" style="width: 100%; text-align: center; margin-bottom: 1em; vertical-align: middle;">
<% form_tag services_path, :method => :get do |f| %>
  <%= text_field_tag 'query', '', :size => 40, :style => 'font-size: 1.3em;' %>
  <% if params[:service_category_id] %>
    <%= hidden_field_tag :service_category_id, params[:service_category_id] %>
    <button type="submit" style = 'font-size: 1.3em;'> Search in <%= ServiceCategory.find(params[:service_category_id].to_i).name  %></button>
  <%else%>
    <button type="submit" style = 'font-size: 1.3em;'> Search</button>
  <%end%>
<%end%>
    </div>